[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
jsonfield = "*"
django-rest-auth = "*"
django-cors-headers = "*"
django-allauth = "*"
django-heroku = "*"
"urllib3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
